#winOutput, .mxp-dest-output {
    height: calc(100% - 21px);
    margin: 0;
    padding: 0;
}

.outputText {
    font-size: small;
    background-color: var(--terminal-bg);
    color: var(--terminal-fg);
    font-family: "Consolas", "DejaVu Sans Mono", "Courier New", monospace;
    white-space: pre-wrap;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
}
