{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Begin registration by submitting your email address below. Once submitted, you will be sent an email with a link to complete your registration.</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{ form.recaptcha }}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
